:root {
    --primary-background: #1A1A1A; /* Cybernetic Matte Black */
    --secondary-background: #282828; /* Dark Graphite */
    --primary-accent: #0B3D91; /* Deep Electric Blue */
    --secondary-accent: #1E90FF; /* Bright Digital Blue */
    --tertiary-accent: #8A2BE2; /* Futuristic Purple */
    --quaternary-accent: #DAA520; /* Cyber Gold */
    --text-color: #E0E0E0; /* Digital Light Grey */
    --heading-color: #F8F8FF; /* Ghost White */
    --alert-color: #FF4500; /* Orange-Red Alert */
}

/************************************ START OF INDEX PAGE *************************************/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-background);
    color: var(--text-color);
    text-align: center;
}

header {
    background-color: var(--secondary-background);
    color: var(--primary-accent);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--heading-color);
}

h2 {
    color: var(--heading-color);
    text-align: center;
}

h3 {
    color: var(--primary-background);
}
p {
    font-size: 1em;
    line-height: 1.6;
    color: var(--primary-background);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #0f0;
    text-decoration: none;
}

#cyborg-gallery, #consultation {
    padding: 50px;
    text-align: center;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

form {
    margin-top: 20px;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #0f0;
    border: none;
    color: #000;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav > ul > li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav ul li:hover > ul {
    display: block;
}

section {
    padding: 20px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    width: 100%; /* or your preferred width */
    max-width: 600px; /* or your preferred max width */
    margin: auto;
    overflow: hidden;
    display: flex;
    border: 2px solid #FFFFFF;
  }
  
  /* Slides */
  .slide {
    width: 100%;
    flex: 0 0 100%; /* Makes sure each slide takes up 100% of the container's width */
  }
  
  /* Images */
  .slide img {
    width: 100%;
    height: auto;
  }
  
  /* Navigation buttons */
  .prev, .next {
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0,0,0,0.6); /* semi-transparent black */
    border: none;
    user-select: none;
    z-index: 10;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,1); /* opaque black */
  }
  