body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFF;
}

header {
    text-align: center;
    margin: 20px;
}

#galaxy-selector {
    display: flex;
    justify-content: center;
}

#galaxy-info {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    flex-direction: column; /* Stack items vertically */
}

#galaxy-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto; /* Center horizontally */
    display: block; /* Important for margin auto to work */
    transition: transform 0.3s ease; /* Smooth transformation transition */
    cursor: pointer;
}

.galaxy-image:hover {
    transform: scale(1.1); /* Slightly enlarges the image on hover */
}

.galaxy-link {
    text-decoration: none; /* Removes underline from links */
    margin: 10px; /* Provides some space between images */
    display: inline-block; /* Makes the links inline but also block-like */
}